<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>io.github.phoeenix05.archiver</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/antonfredriksson/GitHub/archiver/service/service</string>
        </array>
        <key>WorkingDirectory</key>
        <string>/Users/antonfredriksson/GitHub/archiver/service/</string>
        <key>StartInterval</key>
        <integer>86400</integer>        <!-- Replace N with your desired interval in minutes -->
    </dict>
</plist>
